<div>
  <label style="font-size: large; font-weight: bold; margin-left: 30px; margin-top: 30px;"> Create New Classroom</label>
</div> 
<div class="createClass">
    <form id="createClass-form" (ngSubmit)="createClass()">
      <div class="form-group">
        <div>
          <label for="name">Title:</label>
          <input type="text" name="name" [(ngModel)]="classData.name" required>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </div>
    </form>
</div>
