<div class="classroom">
    <div *ngFor="let classroom of classrooms" class="card">
        <div class="card-body">
            <h2>{{classroom.name}}</h2>
            <!-- <p>{{classroom.teacher}}</p> -->
        </div>
        <div class="open">
            <a (click)="send_classroom(classroom._id)">Open</a>
        </div>
        <div class="card-footer">
            <a (click)="delete_classroom(classroom._id)">Delete</a>
        </div>
    </div>
</div>

<div class="noclassroom" *ngIf="classroombool == false">
    <div class="dotted_class">
        <div class="border p-4 text-center">
            <p>You have not created any classroom,</p>
            <p>To create, click on Create Classroom</p>
            <a [routerLink]="routes.createClassroom" style="text-decoration: none;"><button class="btn btn_get btn_get_two" type="submit">Create Classroom</button></a>
        </div>
    </div>
</div>