<div class="body">
    <app-add-notice-button></app-add-notice-button>
    <app-add-notice-page></app-add-notice-page>
    <div *ngFor="let notice of notices" class="notice">
        <div class="notice-content">
            <h3 class="notice-title">{{ notice.title }}</h3>
            <p class="notice-description">{{ notice.description }}</p>
            <p class="notice-createdby">Created by: {{ notice.createdBy }}</p>
        </div>
        <div>
            <button class="btn btn_get btn_get_two" type="submit">view</button>
            <button class="btn btn_get btn_get_two" (click)="deleteNotice(notice._id)">Delete</button>
        </div>
    </div>
    <script src="script.js"></script>
</div>
