<div class="body">

    <app-add-notice-button></app-add-notice-button>
    <app-add-notice-page></app-add-notice-page>
    <div class="notice">
        <div class="notice-content">
            <h3 class="notice-title">Important Notice</h3>
            <p class="notice-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae justo id nunc auctor ornare.</p>
            <p class="notice-createdby">Created by: John Doe</p>
        </div>
        <div>
            <button class="btn btn_get btn_get_two" type="submit">view</button>
        </div>
    </div>
    
    <script src="script.js"></script>
</div>