.body {
    margin: 20px;
    margin-top: 25px;
  }
  
  .notice {
      background-color: #f9f9f9;
      border-left: 5px solid #3498db;
      padding: 15px;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
  }
  
  .notice-title {
      color: #333;
      font-size: 20px;
      margin-bottom: 10px;
  }
  
  .notice-description {
      color: #666;
      font-size: 16px;
      margin-bottom: 10px;
  }
  
  .notice-createdby {
      color: #777;
      font-style: italic;
      font-size: 14px;
  }
  
  .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get:hover {
    color: #fff;
    background: #17d511;
    border-color: #17d511;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #17d511;
    border-color: #17d511;
    color: #fff;
    padding: 4px 10px;
}

.btn_get_two:hover {
    background: transparent;
    color: #17d511;
}