<!-- <div class="upload-form">
  <h2>Upload File in Classroom</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <form
    [formGroup]="uploadForm"
    (ngSubmit)="uploaddata()"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        formControlName="description"
        id="description"
        name="description"
        rows="4"
      ></textarea>
    </div>
    <button type="submit" class="btn">Upload</button>
  </form>
</div> -->

<div class="upload-form">
  <h2>Upload File in Classroom</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <form [formGroup]="uploadForm" (ngSubmit)="uploaddata()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description" name="description" rows="4"></textarea>
    </div>
    <button type="submit" class="btn">Upload</button>
  </form>
</div>

<!-- 
  <div class="classroom">
    <h1>Classroom Name</h1>
    <div class="files">
      <div class="file">
        <h2 class="file-title">File Title 1</h2>
        <p class="file-description">File Description 1</p>
      </div>
      <div class="file">
        <h2 class="file-title">File Title 2</h2>
        <p class="file-description">File Description 2</p>
      </div>
    </div>
  </div> -->
