<div class="classroom" *ngIf="classroombool == true">
    <div *ngFor="let classroom of classrooms" class="card">
        <div class="card-body">
            <h2>{{classroom.name}}</h2>
            <p>{{classroom.teacher}}</p>
        </div>
        <div class="card-footer">
            <a (click)="send_classroom(classroom._id)" >Open</a>
        </div>
    </div>
</div>

<div class="noclassroom" *ngIf="classroombool == false">
    <div class="border">
        <p>You have not enrolled to any classrrom, </p>
        <p>To enroll enter code</p>
    </div>
</div>