<div class="classroom" *ngIf="classroombool == true">
    <div *ngFor="let classroom of classrooms" class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title">{{classroom.name}}ab</h2>
            <p class="card-text">Instructor: {{classroom.teacher}}</p>
        </div>
        <div class="card-footer text-center">
            <a (click)="send_classroom(classroom._id)" class="btn btn-primary">Open</a>
        </div>
    </div>
</div>

<div class="noclassroom" *ngIf="classroombool == false">
    <div class="border p-4 text-center">
        <p>You have not enrolled in any classroom,</p>
        <p>To enroll, enter the code</p>
    </div>
</div>
