<div class="nav-bar">
  <div class="project-name">
    <a [routerLink]="routes.home">IT Classroom</a>
  </div>
  <div class="links">
    <ul>
      <li><a [routerLink]="routes.home">Classroom</a></li>
      <li><a [routerLink]="routes.profile">Profile</a></li>
      <li><a [routerLink]="routes.notices">Notices</a></li>
      <div *ngIf="type === 'teacher'">
        <li><a [routerLink]="routes.createClassroom">Create Classroom</a></li>
      </div>
      <div *ngIf="type === 'student'" >
        <form (ngSubmit)="joinClassroom()" #f="ngForm">
          <input type="text" name="classCode" [(ngModel)]="joinClassroomData.classCode" placeholder="Enter Code" required />
          <input type="submit" value="Join" />     
        </form>
      </div>
      <li>Logout</li>
    </ul>
  </div>
</div>
