<!-- <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
      <a class="project-name navbar-brand" href="#">IT Classroom</a>
      <ul class="nav-links navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notices</a>
        </li>
      </ul>
    </div>
</nav> -->

<div class="nav-bar">
  <div class="project-name">
    <a href="#">IT Classroom</a> 
  </div>
  <div class="links">
    <ul>
      <li>Home</li>
      <li>Notices</li>
      <li>Profile</li>
      <li>Logout</li>
    </ul>
  </div>
</div>