<div class="nav-bar">
  <!-- USER INFO -->
  <!-- <div class="user-info">
    <div class="user-avatar">
      <span>{{ student?.username?.charAt(0) | uppercase }}</span>
    </div>
    <div class="user-details">
      <h4>{{ student?.username }}</h4>
      <p>{{ student?.email }}</p>
    </div>
  </div> -->

  <!-- Add this if want you use condition in tags  -->
  <!-- *ngIf="type === 'teacher'" -->


  <!-- TITLE -->
  <a [routerLink]="routes.home" class="brand">IT Classroom</a>

  <!-- NAV LINKS -->
  <div class="links">
    <ul>
      <li><a [routerLink]="routes.home">Classroom</a></li>
      <li><a [routerLink]="routes.profile">Profile</a></li>
      <li><a [routerLink]="routes.notices">Notices</a></li>

      <li *ngIf="type === 'teacher'">
        <a [routerLink]="routes.createClassroom">Create Classroom</a>
      </li>

      <li *ngIf="type === 'student'" class="form-container">
        <form (ngSubmit)="joinClassroom()" #f="ngForm">
          <input type="text" name="classCode" [(ngModel)]="joinClassroomData.classCode"
            placeholder="Enter Classroom Code" required />
          <input type="submit" value="Join" />
        </form>
      </li>

      <li class="logout" (click)="logout()">Logout</li>
    </ul>
  </div>
</div>